* {
    font-size: 14px;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 40px;
}

.header-logo{
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.logo{
    font-size: 24px;
    font-weight: bolder;
}

.header-links {
  display: flex;
  gap: 15px;  
}

.header-link {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.main{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-flow: row nowrap;
    padding: 45px 40px;
}

.hero-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.main button{
    color: white;
    background-color: #3882F6;
    width: 125px;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 10px;
    border-style: none;
}


.main-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image img{
   width: 60%;
}

.main h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

.info{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 45px 0px;
}

.info-header{
    color: #1F2937;
}

.info-header h2{
    font-weight: bolder;
    font-size: 36px;
}

.cards ul{
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    gap: 10px;
}

.cards li{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 250px;
}

.cards p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards img{
    border: 2px solid #3882F6;
    border-radius: 8px;
    width: 75%;
}

/*Figure out how to center the img subtext*/

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 20px 40px;
}

.quote blockquote{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    padding: 40px 100px;
    margin-bottom: -20px;
}

.quote figcaption{
    font-size: 24px;
    font-weight: bolder;
    align-self: flex-end;
    padding-bottom: 20px;
    margin-right: 180px;
}

.CTA{
    background-color:#3882F6;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    padding: 10px 5px;
    border-radius: 8px;
}

.CTA-text{
    margin: 20px;
    padding: 10px;
}

.CTA-text h2{
    margin: 0;
    padding: 0p;
    font-size: 24px;
    font-weight: bolder;
}

.CTA-text p{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.CTA-button{
    font-size: 18px;
    padding: 10px 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
    border-radius: 8px;
    border-style:solid;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}